PROJECT_TEMP_DIR = /Users/macbook/Documents/VPN/self-check/my-branch/amnezia-client/client/3rd/OpenVPNAdapter/build/OpenVPNAdapter.build
CONFIGURATION_BUILD_DIR = /Users/macbook/Documents/VPN/self-check/my-branch/amnezia-client/client/3rd/OpenVPNAdapter/build/Release-macos
BUILT_PRODUCTS_DIR = /Users/macbook/Documents/VPN/self-check/my-branch/amnezia-client/client/3rd/OpenVPNAdapter/build/Release-macos
