SUPPORTED_PLATFORMS = macosx

HEADER_SEARCH_PATHS = $(inherited) \
    $(SRCROOT)/Sources/OpenVPNAdapter/include \
    $(SRCROOT)/Sources/OpenVPNClient/include \
    $(SRCROOT)/Sources/LZ4/include \
    $(SRCROOT)/Sources/mbedTLS/include \
    $(SRCROOT)/Sources/ASIO/asio/include \
    $(SRCROOT)/Sources/OpenVPN3

CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_CXX_LIBRARY = libc++

MACOSX_DEPLOYMENT_TARGET = 12.0

SDKROOT[arch=x86_64] = macosx
SDKROOT[arch=arm64] = macosx

VALID_ARCHS[sdk=macosx*] = x86_64 arm64
ARCHS = $(ARCHS_STANDARD)
